{% extends "base.html" %}
{% block content %}

    <ul class="collapsible">
        {% for dash in dashboard %}
        <li>
          <div class="collapsible-header white-text cyan lighten-3">
              <i class="fas fa-arrow-down"></i>
              <strong>{{ dash.plan_name }}</strong> : {{ dash.end_date }}
              {% if dash.is_urgent == "on" %}
                <i class="fas fa-exclamation-circle indigo-text text-accent-4 tooltipped"
                    data-position="right" data-tooltip="URGENT!">
                </i>
              {% endif %}
            </div>
          <div class="collapsible-body">
            <strong>{{ dash.section_name }}</strong>
            <p>{{ dash.description }}</p>
            </div>
        </li>
        {% endfor %}
      </ul>

{%endblock %}