{% extends "base.html" %}
{% block content %}

  <h3 class="demo center-align">Demo</h3>

  <h4 class="demo center-align">Interested in My Daily Planner? <a href="{{ url_for('signup') }}">Sign up</a> today!</h2>

    <ul class="collapsible">
        {% for plan in plans %}
        <li>
          <strong>{{ plan.plan_name }}</strong> : {{ plan.due_date }}
                    {% if plan.is_urgent == "on" %}
                        <i class="fas fa-exclamation-circle white-text tooltipped"
                            data-position="right" data-tooltip="URGENT!"></i>
                    {% endif %}
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ plan.section_name }}</strong>
                <p>{{ plan.plan_description }}</p>
                <p><em>by: {{ plan.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
      </ul>

{%endblock %}