{% extends "base.html" %}
{% block content %}

    {% for plan in plans %}
        {{ plan.plan_name }}<br>
        {{ plan.section_name }}<br>
        {{ plan.description }}<br>
        {{ plan.is_urgent }}<br>
        {{ plan.end_date }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
          <div class="collapsible-header white-text cyan lighten-5 text-shadow"><i class="fas fa-arrow-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text cyan lighten-5 text-shadow"><i class="fas fa-arrow-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text cyan lighten-5 text-shadow"><i class="fas fa-arrow-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>

{%endblock %}